<!DOCTYPE html>
<html>
<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <img id="jsLogo" src="/img/javascript-logo.png" alt="JavaScript" />
    <h1>Grupo 18</h1>
    <!--  Action envia la informacion a la ruta especificada-->
    <form action="/login" method="POST">
        <label for="username"> Username
            <input type="text" name="username">
        </label>
        <label for="password"> Password
            <input type="password" name="password">
        </label>
        <button>Log in</button>
    </form>
</body>
</html>
